{% extends 'acme/base.html' %}
{% block content %}
<!--Listagem dos carros com os preços (ainda apenas modelos)-->
<div class="container">
  <h3 class="light">Meus carros</h3>
  <p>Olá, {{user.nome}}. Seus carros estão listados abaixo.</p>
  <div class="row">
    {% for aluguel in alugueis %}
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img src="../../media/{{aluguel.publicacao.carro.imagem}}">
        </div>
        <div class="card-content">
          <h4>{{aluguel.publicacao.carro.modelo}}</h4>
          <p>Codigo: {{aluguel.aluguelID}}</p>
          <p>{{aluguel.descricao}}</p>
          <p>Ano: {{aluguel.publicacao.carro.ano}}</p>
          <p>Marca: {{aluguel.publicacao.carro.marca.nome}}</p>
          <p>Preço: R$ {{aluguel.valor}}</p>
          <p>Período: de {{aluguel.data_retirada.isoformat}} até {{aluguel.data_retorno.isoformat}}</p>
          <p> <small> Aluguel realizado em: {{aluguel.data_aluguel}}</small></p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var elems = document.querySelectorAll('.collapsible');
    var instances = M.Collapsible.init(elems, options);
  });
</script>

<script>
  $(document).ready(function () {
    $('.collapsible').collapsible();
  });
</script>

<script>
  // //Slides
  // const slider = document.querySelector('.slider');
  // M.Slider.init(slider, {

  //   height: 500,
  //   transition: 500,
  //   interval: 6000
  // });

</script>
{% endblock %}