{% extends 'acme/base.html' %}
{% block content %}
<div class="container">
  <div class="col s12 m7">
    <h4 class="header">Confirme os dados da locação</h4>
    <div class="card horizontal">

      <div class="card-image">
        <img src="../../media/{{announce.carro.imagem}}">
      </div>
      <div class="card-stacked">
        <div class="card-content">

          <h6>Você fez uma boa escolha!</h6>
          <h4>{{announce.carro.modelo}}</h4>
          <p>Ano: 2019</p>
          <p>Preço por dia: R$ 80</p><br>
          <form>
            <p>Confirme a data, por favor</p>
            <div class="row">
              <div class="input-field col s6">
                <i class="material-icons prefix">perm_contact_calendar</i>
                <input type="text" class="datepicker" class=" darken-1 grey-text" placeholder="Data Retirada">
              </div>
              <div class="input-field col s6">
                <i class="material-icons prefix">chrome_reader_mode</i>
                <input type="text" class="datepicker" class=" darken-1 grey-text" placeholder="Data da Devolução">
              </div>
            </div>
          </form>
        </div>
        <div class="card-action">
          <button class="btn waves-effect waves-light red" style="float: left;">
            <i class="material-icons right">add_shopping_cart</i>

            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="pk_test_LSkKTymuMxmZ468ROAHkVpPT00b7FukC9b" data-amount="44999" data-name="Pipeline Rent a Car"
              data-description="Aluguel do carro: Exemplo"
              data-image="https://stripe.com/img/documentation/checkout/marketplace.png" data-locale="auto"
              data-currency="brl">
              </script>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  //Datepicker
  const Calender = document.querySelector('.datepicker');
  M.Datepicker.init(Calender, {});
  $(document).ready(function () {
    $('.datepicker').datepicker();
  });
</script>
{% endblock %}