{% extends "acme/base.html" %}
{% block content %}
<div class="container">
    <form class="form-signin" method="POST" style="width: 600px;margin: auto;">
        {% csrf_token %}
        <p style="text-align: center"><i class="large material-icons grey-text">account_box</i></p>
        <h3 class="h3 mb-1 font-weight-normal">Please sign in</h3>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="text" id="inputUsername" class="form-control" placeholder="Username" required="" autofocus=""
            name="user_nome">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required
            name="user_senha">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <div class="border-top pt-3">
            <small class="text-muted">
                Do not have an account? <a href="{% url 'signup' %}" s>sign up</a>
            </small>
        </div>
    </form>

</div>
{% endblock content %}