<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        {% block content %}
        <div class="content-section">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom"></legend>
                    {{ form }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">
                        Sign up
                    </button>
                </div>
            </form>
            <div class="border-top pt-3">
                <small class="text-muted">
                    already have an account? <a href="{% url 'login' %}"s>signin</a>
                </small>
            </div>
        </div>
    {% endblock content %}
</body>
</html>
