{% extends "acme/base.html" %}
{% block content %}
        <div class="content-section">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom"></legend>
                    {{ form.as_p }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">
                        Sign up
                    </button>
                </div>
            </form>
            <div class="border-top pt-3">
                <small class="text-muted">
                    already have an account? <a href="{% url 'login' %}"s>signin</a>
                </small>
            </div>
    </div>
{% endblock content %}

